/* Older browser stuff */
header, nav, main, footer, figure, figcaption {
	display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(51, 50, 47);
    color: white;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    font-family: cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: pink;
    text-align: center;
    font-size: 40pt;
}

h2 {
    margin-top: 0px;
    color: pink;
    text-align: center;
}

h3 {
    font-size: 14pt;
    color: red;
    text-align: center;
}

.left p {
    font-size: 10pt;
    text-align: justify;
    margin: 0px 5px 0px 5px;
}

main {
    width: 70%;
    margin-left: 15%;
}

p {
    line-height: 1.5em;
    font-size: 14pt;
    text-align: justify;
}

.indent {
    margin-left: 3%;
    margin-right: 3%;
}

.left {
    float: left;
    width: 15%;
    height: 100vh;
    margin-top: 0px
}

.left figure img {
    width: 200px;
    height: auto;
}

.right {
    float: right;
    width: 15%;
    height: 100vh;
}

figcaption {
    font-style: italic;
    font-size: 10pt;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    transition-property: color;
    transition-duration: 1s;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(235, 147, 121);
    text-decoration: none;
}

ul {
    margin-left: 30px;
}

.center {
    width: 50%;
    height: auto;
    margin-left: 20%;
}

.powr-comments {
    width: 90%;
    margin-left: 5%;
}

.wrapimg {
    float: left;
    width: 150px;
    height: auto;
    padding: 0 20px 0 0;
}

.wrapp {
    float: right;
}

.indentright {
    line-height: 2em;
    margin-right: 3%;
}

.buynow {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 36pt;
    font-family: cursive;
    border-radius: 2em;
    text-align: center;
    color: pink;
    background-color: rgb(90, 30, 77);
    transition-property: color, background-color;
    transition-duration: 1s;
    padding: 3px 10px 3px 10px;
    display: inline-block;
}
video {
    width: 100%;
    margin-right: 15%;
    margin-bottom: 10px;
    object-fit: contain;
}
.buynow:visited {
    color: pink;
}
.buynow:hover {
    color: rgb(90, 30, 77);
    background-color: pink;
}
