/* Older browser stuff */
header, nav, main, footer, figure, figcaption {
	display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(51, 50, 47);
    color: white;
    font-size: 14pt;
}

h1 {
    font-family: cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gold;
    text-align: center;
    font-size: 40pt;
    margin-bottom: 0px;
}

h2 {
    color: gold;
    text-align: center;
}

h3 {
    font-size: 14pt;
    color: rgb(235, 147, 121);
    text-align: center;
}

.left p {
    font-size: 10pt;
    text-align: justify;
    margin: 0px 5px 0px 5px;
}

main {
    width: 70%;
    margin-left: 15%;
}

p {
    line-height: 1.5em;
    font-size: 14pt;
    text-align: justify;
}

.indent {
    margin-left: 3%;
    margin-right: 3%;
}

.left {
    float: left;
    width: 15%;
}

.left figure img {
    width: 200px;
    height: auto;
}

figcaption {
    font-style: italic;
    font-size: 10pt;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    transition-property: color;
    transition-duration: 1s;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(235, 147, 121);
    text-decoration: none;
}

ul {
    margin-left: 30px;
}

.center {
    width: 50%;
    height: auto;
    margin-left: 20%;
}

.powr-comments {
    width: 90%;
    margin-left: 5%;
}

