/* Older browser stuff */
header, nav, main, footer, figure, figcaption {
	display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: aliceblue;
}

h1 {
    font-family: cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gold;
    text-align: center;
    font-size: 40pt;
    margin-bottom: 0px;
}

main {
    width: 70%;
    margin-left: 15%;
}

p {
    line-height: 1.5em;
    font-size: 14pt;
    text-align: justify;
}

.indent {
    margin-left: 3%;
    margin-right: 3%;
}

.left {
    float: left;
    width: 15%;
}